
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --primary-color: #edeea7;
    --secondary-color:#166864;
    --accent1-color: #125349;
    --accent2-color: #E7DADA;
    --heading-font: "Roboto", bold;
    --body-font: "Roboto", sans-serif;
}

header {
    margin: 1rem auto;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 2px;
    max-width: 1000px;
    max-height: 200px;
    border-bottom: 5px solid #ccc;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 850px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.socialmedia img {
    width: 3rem;
    height: 3rem;
}
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.6;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    background-color:rgba(0, 0, 0, 0.603);
    color: white;
    padding: 20px;
}

.hero article img {
    float: right;
    width: 125px;
}

h2 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.history {
    background-color: var(--primary-color);
    margin-top: 1rem;
}

.history h2 {
    margin: 0.5rem;
}

.history p {
    font-size: large;
    margin: 0.5rem;
}

section p {
    display: flex;
    justify-content: center;
    padding: 1rem;
}