
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --primary-color: #edeea7;
    --secondary-color:#166864;
    --accent1-color: #125349;
    --accent2-color: #E7DADA;
    --heading-font: "Roboto", bold;
    --body-font: "Roboto", sans-serif;
}

header {
    margin: 1rem auto;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items:end;
    padding: 2px;
    max-width: 1000px;
    max-height: 200px;
    border-bottom: 5px solid #ccc;
}

.logo img {
    margin-left: 6rem;
    width: 64px;
    height: auto;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 850px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;               
    padding: 1rem 0;
}

.socialmedia img {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 3rem;
    height: 3rem;
}
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.6;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    background-color:rgba(0, 0, 0, 0.603);
    color: white;
    padding: 20px;
}

.hero article img {
    float: right;
    width: 125px;
}

h2 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 4px;
    width: 170px;
    margin: 0 10px 10px 0;
    display: inline-block;
}

figure img {
    width: 150px;
    height: 120px; 
}

figcaption {
    background-color: black;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.history {
    background-color: var(--primary-color);
    margin-top: 1rem;
}

.history h2 {
    margin: 0.5rem;
}

.history p {
    font-size: large;
    margin: 0.5rem;
}

section p {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.about-images {
    display:flex;
    justify-content: center;
    margin-left: 0.5rem;
}

.wireframe img {
    width: 100px;
    height: 100px;
}
/*Contact selectors*/
.rectangle {
      width: 900px;
    padding: 8px;
    background: var(--primary-color);
    border-radius: 3px;
    min-height: 217px;
}

.rectangle h1 {
     text-align: center;
    color: var(--secondary-color);
    font-size: 3.6rem;
    font-family: 'Bebas Neue', sans-serif;
}

.rectangle p {
    text-align: center;
    padding: 0 1rem;
    font-size: large;
}

.employees {
    display: inline-block;
    margin-right: 15px;
    margin-left: 29px;
}

.employees figure {
    width: 230px;
}

.employees figcaption {
    width: 220px;
}
.employees img {
    width: 220px;
    height: 150px;
}

.employees h3, .employees p {
    text-align: center;
}

.information h2 {
    color: #26287D;
    text-align: left;
}

.contact-message {
    display: flex;
    justify-content: center;
}
.information-map h2 {
    font-family: 'Bebas Neue';
    color: var(--primary-color);
}
.information-map {
    display: flex;
    padding-top: 15px;
}
.column {
    flex: 50%;
}

.column h2 {
    color: var(--secondary-color);
}