:root {
    --primary-color: #012d33;
    --secondary-color: #053a66;
    --accent1-color: #264653;
    --accent2-color: #E7DADA;
    --heading-font: "Times New Roman", bold;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 2px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 85px;
    padding: 1rem;
    font-size: large;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 900px;
    margin: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia img {
    width: 40px;
    margin-left: 10px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 40%;
    background-color: var(--accent1-color);
    color: white;
    opacity: 0.7;
    padding: 15px;
}

.hero article img {
    float: right;
    width: 140px;
}

section h2 {
    text-align: center;
}

.raft {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 2px;
}

.raft img {
    width: 200px;
    height: 150px;
}

figcaption {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Class Selectors*/
.socialmedia a {
    text-decoration: none;
}

/*Contact Selectors*/
button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

.employees {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 2px;
}

.section h2 {
    display: flex;
    justify-content: center;
    font-size: medium;
}

.column {
    display: grid;
    justify-content: center;
}

.contact-container {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.map {
    float: left;
}

.form {
    display: center;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    padding: 5px;
}

label {
    text-align: center;
    padding-right: 1rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

/*Home*/
.newsletter legend {
    font-family: 'Bebas Neue';
    color: #26287D;
    display: flex;
    justify-content: center;
    font-size: larger;
}

.newsletter {
    display: flex;
    justify-content: center;
}

.newsletter form {
    width: 300px;
}

.cta {
    text-align: center;
}

.cta h2 {
    color: #26287D;
    font-family: 'Bebas Neue';
    font-size: xx-large;
}

.grid-container {
    display: flex;
}

.grid-item {
    display: flex;
    margin-right: 1px;
    margin-left: 7.5rem;
}

.grid-item figure {
    width: 320px;
    border: none;
}

.grid-item img {
    width: 320px;
    height: 220px;
}

.figure h3 {
    justify-content: center;
    font-family: 'Bebas Neue';
    font-weight: 300;
}

.grid-item p {
    text-align: center;
}

/*Trips*/
.trip-information h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: xx-large;
}

.trip {
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-left: 20px;
}

.trip figure {
    width: 260px;
}

.trip figcaption {
    width: 254px;
    font-family: 'Bebas Neue';
    font-size: large;
}

.trip img {
    width: 260px;
    height: 150px;
}

.trip h3,
.trip p {
    text-align: center;
}

/*Table form*/
.table {
    font-family: 'Bebas Neue';
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #f2f2f2;
    color: #333333;
}

/*Footer*/
.wireframe img {
    width: 100px;
    height: 100px;
}