@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:wght@700&family=PT+Serif&display=swap');
:root {
    --primary-color: #c0ebf8f8;
    --secondary-color:#053a66;
    --accent1-color: #073d83;
    --accent2-color: #E7DADA;
    --heading-font: "Roboto", bold;
    --body-font: "Roboto", sans-serif;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 2px;
    border-bottom: 5px solid #ccc;
    max-width: 1000px;
    max-height: 200px;
    background-color: var(--accent1-color);
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 70px;
    padding: 1rem;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
}
.logo img {
    margin-left: 6rem;
    width: 64px;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 900px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header img {
    margin-left: 0rem;
}
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-style: normal;
    font-family: 'Bebas Neue';
    font-size: 50px;
}

.hero article {
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
}

.hero article img {
    float: right;
    width: 200px;
}

h2 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.history {
    background-color: var(--primary-color);
    margin-top: 1rem;
}

.history h2 {
    margin: 0.5rem;
}

.history p {
    font-size: large;
    margin: 0.5rem;
}

section p {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Bebas neue';
    font-size: xx-large;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 4px;
    width: 170px;
    margin: 0 10px 10px 0;
    display: inline-block;
}

figure img {
    width: 150px;
    height: 120px; 
}

figcaption {
    background-color: black;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
section {
    background-color: rgba(254, 254, 255, 0.418);
    border: #222;
    padding: 1px;
    margin-bottom: 0.5rem;
}
.about-images {
    display:flex;
    justify-content: center;
    margin-left: 0.5rem;
}

.wireframe img {
    width: 100px;
    height: 100px;
}

 /*Contact selectors*/
.rectangle {
    width: 900px;
    padding: 8px;
    background: var(--primary-color);
    border-radius: 3px;
    min-height: 217px;
}

.rectangle h1 {
    text-align: center;
    color: var(--secondary-color);
    font-size: 3.6rem;
    font-family: 'Bebas Neue', sans-serif;
}

.rectangle p {
    text-align: center;
    padding: 0 1rem;
    font-size: large;
}

.employees-profile h2 {
    font-family: 'Bebas Neue';
    font-size: xx-large;
    color: var(--secondary-color);
}
.employees {
    display: inline-block;
    margin-right: 15px;
    margin-left: 29px;
}
.employees figure {
    width: 230px;
}

.employees figcaption {
    width: 220px;
}
  
.employees img {
    width: 220px;
    height: 150px;
}
  
.employees h3, .employees p {
    text-align: center;
}

.information h2 {
    color: #26287D;
    text-align: left;
}

.contact-message {
    display: flex;
    justify-content: center;
}
.information-map h2 {
    font-family: 'Bebas Neue';
    color: var(--primary-color);
}
.information-map {
    display: flex;
    padding-top: 15px;
}
.column {
    flex: 50%;
}

.column h2 {
    color: var(--secondary-color);
}

 /*Form Caracteristics*/
form {
    width: 500px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 0.5rem;
}

label, input, button, select, textarea {
    font-family: PT Serif, Arial, sans-serif;
}
label {
    text-align: left;
    padding-right: 1rem;
    margin: 0.5rem;
}

input, select, textarea {
    padding: 0.4rem;
    font-size: 1rem;
}

input [type="checkbox"] {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: var(--accent1-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(38, 151, 226);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr ;
    margin: 0.5rem ;
    display: flex;
    justify-content: flex-end;
}

.column1 label {
    text-align: left;
}

.column2 {
    grid-template-columns: 1fr 3fr;
}

.column3 label {
    text-align: left;
}

.column4 {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
} 
/*Footer*/
footer {
    display: flex;
    justify-content: center;
    padding: 2px;
    background-color: var(--accent1-color);
    color: #fff;
}
footer p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialmedia {
    display: flex;           /* Arrange children in a row */
    justify-content: center; /* Align items to the right */
    gap: 0.4rem;               
    padding: 1rem 0;
}
.socialmedia img {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 3rem;
    height: 3rem;
}
/*Form Caracteristics*/
form {
    width: 500px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 0.5rem;
}

label, input, button, select, textarea {
    font-family: PT Serif, Arial, sans-serif;
}
label {
    text-align: left;
    padding-right: 1rem;
    margin: 0.5rem;
}

input, select, textarea {
    padding: 0.4rem;
    font-size: 1rem;
}

input [type="checkbox"] {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: rgb(38, 38, 112);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(38, 151, 226);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr ;
    margin: 0.5rem ;
    display: flex;
    justify-content: flex-end;
}

.column1 label {
    text-align: left;
}

.column2 {
    grid-template-columns: 1fr 3fr;
}

.column3 label {
    text-align: left;
}

.column4 {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
} 
/*Home selectors*/
.newsletter legend {
    font-family: 'Bebas Neue';
    color: #26287D;
    display: flex;
    justify-content: center;
    font-size: larger;
}
.newsletter{
    display: flex;
    justify-content: center;
}
.newsletter form {
    width: 300px;
}
.cta {
    text-align: center;
}
.cta h2 {
    color: #26287D;
    font-family: 'Bebas Neue';
    font-size: xx-large;
}
.grid-container {
    display: inline-block;
}
.grid-item {
    display: inline-block;
    margin-right: 1px;
    margin-left: 7.5rem;
}
.grid-item figure {
    width: 320px;
    border: none;
}
.grid-item img {
    width: 320px;
    height: 220px;
}
.grid-item h3 {
    text-align: center;
    font-family: 'Bebas Neue';
    font-weight: 100;
}
.grid-item p {
    text-align: center;
}

 /*Trip forms*/
.trip-information h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: xx-large;
}
.trip {
    display: inline-block;
    margin-right: 8px;
    margin-left: 35px;
}
.trip figure {
    width: 260px;
}

.trip figcaption {
    width: 254px;
    font-family: 'Bebas Neue';
    font-size: large;
}
  
.trip img {
    width: 260px;
    height: 150px;
}
  
.trip h3, .trip p {
    text-align: center;
}

 /*Table form*/ 
.table {
    font-family: 'Bebas Neue';
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
}
  
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
  
th {
    background-color: #f2f2f2;
    color: #333333;
}
